CR_DATABASE_URL=jdbc:postgresql://postgres:5432/opencr
CR_DATABASE_USERNAME=postgres
CR_DATABASE_PW=postgres
JAVA_OPTS='-Dspring.datasource.url=${CR_DATABASE_URL} -Dspring.datasource.username=${CR_DATABASE_USERNAME} -Dspring.datasource.password=${CR_DATABASE_PW} -Dspring.datasource.driverClassName=org.postgresql.Driver'
